body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.server-status-key {
    width: 30%
}
#server-status{
    line-height: 30px;
    vertical-align: middle;
}