
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-nav">
      <section>
        <form class="aui" action="" method="post" id="configure" onsubmit="return false;">
          <div class="field-group">
            <label for="java">java</label><input id="java" type="text" name="java" class="long-field text"/>
          </div>
          <div class="button-container">
            <div class="buttons">
              <button class="aui-button aui-button-primary" type="submit">保存</button>
              <button class="aui-button aui-button-link" type="reset">重置</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
