<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-nav">
      <section>
        <form action="" class="aui" ng-submit="submit()" onsubmit="return false;">
          <div class="field-group">
            <label for="name">服务器名称</label>
            <input id="name" type="text" ng-model="server.name" class="text" required=""/>
          </div>
          <div class="field-group">
            <label for="host">服务器地址</label>
            <input id="host" ng-model="server.host" type="text" class="text" required=""/>
          </div>
          <div class="field-group">
            <label for="port">服务器端口</label>
            <input id="port" ng-model="server.port" type="number" class="text" required=""/>
          </div>
          <div class="field-group">
            <label for="path">服务器路径</label>
            <input id="path" ng-model="server.path" type="text" class="text" required=""/>
          </div>
          <div class="field-group">
            <label for="file">服务器文件</label>
            <input id="file" ng-model="server.file" type="text" class="text" required=""/>
          </div>
          <div class="field-group">
            <label for="args">启动参数</label>
            <select ng-model="nowArg" name="args" id="args" class="multi-select" multiple="1">
              <option value="{{arg}}" ng-repeat="arg in server.args">{{arg}}</option>
            </select>
            <div>
              <input id="newArg" ng-model="newArg" type="text" class="text"/>
              <button class="aui-button aui-button-primary" ng-click="addArg()">添加</button>
              <button class="aui-button" ng-click="delArg()">删除</button>
            </div>
          </div>
          <div class="field-group">
            <button class="aui-button aui-button-primary" type="submit" ng-disabled="!canCreate">创建</button>
            <button class="aui-button aui-button-subtle" type="reset">清空</button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
<section role="dialog" id="returnDialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
  <header class="aui-dialog2-header">
    <h2 class="aui-dialog2-header-main">{{dialog.title}}</h2>
    <a class="aui-dialog2-header-close" href="">
      <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">关闭</span>
    </a>
  </header>
  <div class="aui-dialog2-content">
    {{dialog.content}}
  </div>
  <footer class="aui-dialog2-footer">
  </footer>
</section>
